body {
    align-items: center;
    justify-content: center;
}

div#input {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 8px 3px rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin: 1%;
    width: 98%;
    height: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.input-content {
    margin: 22%;
    margin-bottom: 5%;
    text-align: center;
}

#medinput {
    width: 50%;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(172, 172, 172);
    caret-color: white;
}

#addPlaylistForm {
    display:none;
}
.newinputs {
    width: 50%;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(172, 172, 172);
    caret-color: white;
    margin: 1%
}
#medsub {
    background-color: #CDCDCD;
    color:black;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 1%;
}

.medsub {
    background-color: #CDCDCD;
    color:black;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 1%;
}

#medvid {
    margin: 1%;
    width: 70%;
    height: 70rem;
    background-color: black;
}

#hide {
    background-color: #CDCDCD;
    color:black;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 1%;
    margin-bottom: 1%;
    visibility: visible;
}

#shuffle {
    background-color: #CDCDCD;
    color:black;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 1%;
    margin-bottom: 1%;
    display:none;
}

#next {
    background-color: #CDCDCD;
    color:black;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: none;
}
#show {
    background-color: #CDCDCD;
    color:black;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 1%;
    margin-bottom: 1%;
    visibility: visible;
}

#playlist-click {
    width: 10%;
    height: 40%;
    display: inline-block;
    border: 3px solid gray;
    border-radius: 5px;
    text-align: center;
    vertical-align: top;
    justify-content: center;
    margin: 1%;
    padding: 1%;
    text-decoration: none;
    cursor: pointer;
}

#playlist-add {
    width: 10%;
    height: 40%;
    display: inline-block;
    border: 3px solid gray;
    border-radius: 5px;
    text-align: center;
    vertical-align: top;
    justify-content: center;
    margin: 1%;
    padding: 1%;
    text-decoration: none;
    cursor: pointer;
}
.playlist-image {
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 1%;
    margin-right: 2%;
}

.playlist-text {
    display: block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.modal-playlist-item {
    display: inline-block;
    border: 3px solid gray;
    border-radius: 5px;
    text-align: center;
    margin: 1%;
    padding: 1%;
    text-decoration: none;
    word-break: break-all;
    min-width: 10%;
}
.modal-playlist-image {
    width: 10em;
}

.modal-playlist-text {
    display: block;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin: 3%;
}
#modal {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-color: rgba(46, 46, 46, 0.767);
}

#playlistContainer{
    background-color:white;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 40%;
    margin: 0 auto;
    padding: 1%;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    display: none;
    max-width: 98%;
}

#mainlistcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#closebutton {
    width: 5vh;
    position: absolute;
    top: 33%;
    border: 2px solid black;
    border-radius: 10px;
    display: none;
    cursor: pointer;
}

#errormsg {
    color:red;
    font-size: 12px;
    font-weight: bold;
    font-family: 'PT Serif', sans-serif;
    margin: 0 auto;
    display: block;
    text-align: center;
}
