/* Settings */
.settings {
    text-align: center;
    margin: 1%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 98%;
    height: 89%;
    display: flex;
}
#avatar {
    margin: 1%;

}

.settings-item {
    display: flex;
    margin: 1%;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;
}

.actionbutton {
    background-color: #CDCDCD;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 2%;
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}
.item-text {
    margin: 10%;
}
.settings p {
    font-size: 25px;
    font-weight: bold;
    font-family: 'PT Serif', sans-serif;
}

.text {
    border: 2px solid black;
    border-radius: 10px;
    margin: 1%;
    padding: 0.5%;
} 