/* Navigation */
.activenav {
    border-bottom: 4px solid #ffffff;
    border-radius: 3px;
    margin-bottom: 4px;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav li a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'PT Serif', sans-serif;
    float: right;
    margin-bottom: 4px;
}

.topnav a.title{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'PT Serif', sans-serif;
}

.items {
    justify-content: space-between;
    float: right;
    margin: 4px;
    background-color: transparent;
}

.items:hover {
    border-bottom: 100% solid #ffffff;
    border-radius: 1%;
    transition: all .3s linear;
}

@media (max-width: 400px) {
    .topnav a.title {
        font-size: 20px;
        float: left;
    }
    .items {
        width: 10%;
        margin-left: 5%;
    }
}
@media (max-width: 322px) {
    .items { 
        width: 8%;
        margin-left: 3%;
    }
}

/* Settings */
.settings {
    text-align: center;
    margin: 1%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 98%;
    height: 89%;
    display: flex;
}
#avatar {
    margin: 1%;

}
#avatar img {
    border: 2px solid black;
    border-radius: 10px;
    width: 75%;
}
.settings p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'PT Serif', sans-serif;
}

.text {
    border: 2px solid black;
    border-radius: 10px;
    margin: 1%;
    padding: 0.5%;
} 
/* footer */
footer { 
    margin: 1%;
}

#submit {
    background-color: #CDCDCD;
    color:black;
    border: none;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    font-family: 'PT Serif', sans-serif;
    border-radius: 10px;
    margin-top: 2%;
}